Makefile
Makefile.in
aclocal.m4
anastasis_config.h
anastasis_config.h.in
anastasis_config.h.in~
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
contrib/uncrustify.sh
depcomp
doc/Makefile
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/util/.deps/
src/util/.libs/
src/stasis/Makefile
src/stasis/Makefile.in
src/stasis/libanastasis_plugin_db_postgres.la
src/stasis/plugin_anastasis_postgres.lo
src/stasis/plugin_anastasis_postgres.o
src/stasis/.deps/
src/backend/Makefile
src/backend/Makefile.in
src/include/Makefile
src/include/Makefile.in
src/lib/.deps/
src/lib/Makefile
src/lib/Makefile.in
stamp-h1
test-driver
uncrustify.cfg
doc/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.swp
src/lib/.libs
*.lo
*.o
*.la
src/util/.deps/
src/backend/.deps/
src/backend/.idea/
src/backend/.libs/
src/stasis/.libs/
src/backend/anastasis-httpd
doc/Makefile.in
src/include/Makefile.in

A
A

