*~
*.log
*.trs
*.a
*.o
*.orig
*.rej
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.guess
config.log
config.status
config.sub
configure
contrib/uncrustify.sh
depcomp
doc/Makefile
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/util/.deps/
src/util/.libs/
src/backend/Makefile
src/backend/Makefile.in
src/include/Makefile
src/include/Makefile.in
src/lib/.deps/
src/lib/Makefile
src/lib/Makefile.in
stamp-h1
test-driver
uncrustify.cfg
doc/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.swp
src/lib/.libs
*.lo
*.o
*.la
src/util/.deps/
doc/Makefile.in
src/include/Makefile.in
sync_config.h
sync_config.h.in
src/sync/sync-httpd
src/testing/test_sync_api_home/.local/share/taler/auditors/
src/testing/test_sync_api_home/.local/share/taler/exchange-secmod-cs/
