test_sync_api
auditor.in
test_sync_api_home/.local/share/taler/exchange/live-keys/
test_sync_api_home/.local/share/taler/crypto-eddsa/
test_sync_api_home/.local/share/taler/crypto-rsa/
test_sync_api_home/.local/share/taler/exchange/offline-keys/secm_tofus.priv
test_sync_api_home/.local/share/taler/taler-helper-crypto-eddsa/
test_sync_api_home/.local/share/taler/taler-helper-crypto-rsa/
test_sync_api_home/.local/share/taler/exchange-offline/secm_tofus.pub
test_sync_api_home/.local/share/taler/exchange-secmod-eddsa/
test_sync_api_home/.local/share/taler/exchange-secmod-rsa/
test_sync_api_home/.local/share/taler/exchange/offline-keys/secm_tofus.pub
test_sync_api_home/.local/share/taler/taler-exchange-secmod-eddsa/
test_sync_api_home/.local/share/taler/taler-exchange-secmod-rsa/

test_sync_api.conf.edited
