Source: sync
Section: net
Priority: optional
Maintainer: Christian Grothoff <grothoff@gnu.org>
Build-Depends:
 autoconf (>=2.59),
 automake (>=1.11.1),
 autopoint,
 debhelper-compat (= 12),
 gettext,
 libgnunet-dev (>=0.17.1),
 libtalerexchange-dev (>= 0.8.99),
 libtalermerchant-dev (>= 0.8.99),
 libpq-dev (>=13.0),
 pkg-config,
 po-debconf,
 zlib1g-dev,
 texinfo
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/debian/sync.git
Vcs-browser: https://salsa.debian.org/debian/sync
Homepage: https://taler.net/

Package: libsync
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 lsb-base,
 netbase,
 ${misc:Depends},
 ${shlibs:Depends}
Description: libraries to talk to a Sync provider.
 .
 A Sync provider enables a GNU Taler wallet to store
 an encrypted backup (possibly in return for payment).
 The C library in this package implements the protocol
 to talk to a Sync provider.

Package: sync-httpd
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 libtalerexchange (>= 0.8.99),
 libtalermerchant (>= 0.8.99),
 libgnutls30 (>= 3.7.1),
 adduser,
 lsb-base,
 netbase,
 sudo,
 apache2 | nginx | httpd,
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 postgresql (>=13.0)
Description: GNU Taler's encrypted backup store.
 .
 A Sync provider enables a GNU Taler wallet to store
 an encrypted backup (possibly in return for payment).
 This is the HTTP(S) REST backend that a Sync provider
 must run to implement the protocol server-side.

Package: libsync-dev
Section: libdevel
Architecture: any
Depends:
 libtalermerchant-dev (>= 0.8.99),
 libtalerexchange-dev (>= 0.8.99),
 libgnunet-dev (>=0.17.1),
 ${misc:Depends},
 ${shlibs:Depends}
Description: libraries to talk to a Sync provider (development).
 .
 This package contains the development files for
 libsync.
