[Unit]
Description=Sync backup backend

[Service]
User=sync-httpd
Type=simple
Restart=always
RestartSec=1s
RuntimeMaxSec=3600s
ExecStart=/usr/bin/sync-httpd -c /etc/sync/sync.conf

[Install]
WantedBy=multi-user.target
